/*#myCheckbox1, #myCheckbox2, #myCheckbox3 {
  display: none;
}*/

.well h1 {
  text-align: center;
  color: red;
}

body {
  background-color: #eaedf2;
}

.radio-inline label {
  text-align: center;
}

.navbar {
  color: red;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.navbar #rightNav #navbarTotal {
  font-size: 30px;
  color: black;
}
.navbar #rightNav {
    float: right;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}

.navbar #leftNav {
  float: left;
  font-size: 30px;
  font-family: fantasy;
}
