.well h1 {
  text-align: center;
}

.pizzaSelector > input{
  visibility: hidden;
  position: absolute;
}

.pizzaSelector > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.pizzaSelector > input:checked + img{
  border: 2px solid #f00;
}

.radio-inline label {
  text-align: center;
}

.navbar {
  color: red;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
.navbar #rightNav #navbarTotal {
  font-size: 30px;
  color: white;
}
.navbar #rightNav {
    float: right;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}

.navbar #leftNav {
  float: left;
  font-size: 30px;
  font-family: fantasy;
}
