.pizzaSelector {
  text-align: center;
}
.image{
  background-image: url("../img/logo.png");
  opacity: .7;
}
.image p {
  color: black;
  font-size: 100px;
}

.col-md-9 .panel-body {
  background-image: url("../img/logo.jpeg");
}

.col-md-3 .panel-body{
  font-size: 16px;
  font-weight: bold;
  color: #a01a00;
  background-image: url("../img/truck.jpeg");
}
body {
  background-color: #eaedf2;
}

.radio-inline label {
  text-align: center;
}

.navbar {
  color: red;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
.navbar #rightNav #navbarTotal {
  font-size: 30px;
  color: black;
}
.navbar #rightNav {
    float: right;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
}

.navbar #leftNav {
  float: left;
  font-size: 30px;
  font-family: fantasy;
}
